AGENT_PORT=5175
AGENT_HOST=127.0.0.1
APP_DB_URL=postgresql://user:password@localhost:5432/neuract_meta

# Keycloak authentication
KC_URL=http://192.168.1.20:8080/keycloak
KC_REALM=desktop
KC_ADMIN_CLIENT_ID=neuract_owner
KC_ADMIN_CLIENT_SECRET=SwNbUunGlyDZaxWJoxpTUAwDYuuJqxB5
# KC_ALLOWED_ISSUERS=http://localhost:8080/keycloak/realms/desktop,http://127.0.0.1:8080/keycloak/realms/desktop

# Redis (for notification WebSocket broadcasting)
REDIS_URL=redis://127.0.0.1:6379/3
